@using Capstone.Web.Models;
@model Survey 
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <h2>National Park Survey</h2>
   
@using(Html.BeginForm("Survey", "Survey", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.)
    </div>
}