<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styling.css" rel="stylesheet" type="text/css" />   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
   
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class=" backgroundColor">
    <section>
        <div>
            <header>
                <div class="headerContainer">
                    <img class="headerStyle" src="~/Content/img/logo.png" />

                </div>
            </header>

            <nav class=" navbar navbar-default" style="background-color: #FF9009">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="nav nav-pills list-group">
                             <li>@Html.ActionLink("Home", "Index", "Park")</li> 
                            <li>@Html.ActionLink("Survey", "Survey", "Survey")</li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <div class="container">

            <div>
                @RenderBody()
                <hr />

            </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/salvattore.min.js"></script>
        </div>

        <footer class="navbar navbar-default" style="background-color: #FF9009"></footer>
    </section>
</body>
</html>